# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = alex choi
	email = heyalexchoi@gmail.com
[core]
	editor = subl -n -w
[credential]
	helper = osxkeychain
[merge]
    tool = opendiff
